*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #273040;
  color: #fff;
  position:  relative;
  height: 100vh;
}
.bg-01{
  position: fixed;
  background: url('images/about-bg.png');
  height: 100vh;
  width: 100%;
  transition: opacity 5s;
  z-index: 99;
}
.preloader{
background: #273040;
  position: absolute;
  top:45%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 30%;
}
.preload-finish{
  opacity: 0;
  pointer-events: none;
}
path{
  stroke: #fff;
  fill: #fff;
  stroke-dasharray: 1800;
  opacity: 10;
  animation: animate 1s cubic-bezier(0,0.23,1,0.1)
}

@keyframes animate {
  0%{
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800;
  }
  30%{
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1800;
  }
  90%{
         fill: rbga(255,255,255,0);
  }
  100%{
    opacity: 10;
    fill: rbga(255,255,255,1);
    stroke-dashoffset:  0;
  }
}
.wrapper{
  text-align: center;
}
.abouttext3{
	padding: 6% 6% 6% 6%;
    width: 70%;
	position: relative;
    margin: 0 auto 10%;
    background-color: #1abc9c;
    opacity: 0.9;
    box-shadow: 0px 0px 115px #000000a6;
}
  .abouttext3 h2{
	color:#fff;
	font-family:SofiaPro-Bold;
	text-align: center;
	font-weight: normal;
	font-size: 4vw;
	margin-bottom: 30px;
	letter-spacing: -1px;
}
.abouttext3 p{
	color: #fff;
  text-align: left;
  }
 .abouttext3 p{
	font-family:SofiaPro-Regular;
	font-weight: normal;
	font-size: 20px;
	line-height: 40px;
}
